@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #DE6A71;
    --cor1: #FDB32D;
    --cor2: #2DB5E2;
    --cor3: #4D7F42;
    --cor4: #DB2D36;
    --footer: black;
}